<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Not found</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
  </head>
  <body>
    <header class="main-header">
      <nav class="main-header__nav">
        <ul class="nav__list-items">
          <li class="nav__list-item"><a href="/">Home</a></li>
          <li class="nav__list-item"><a href="/users">Add Users</a></li>
        </ul>
      </nav>
    </header>
    <main class="main-body"><h1>Page or resource not found</h1></main>
  </body>
</html>
