<nav class="nav-menu">
  <ul class="ul__nav-menu">
    <li class="item__nav-menu">
      <a class="link-item__nav-menu" href="/">Home</a>
    </li>
    <li class="item__nav-menu">
      <a class="link-item__nav-menu" href="/users">List of Users</a>
    </li>
  </ul>
</nav>
